{
  "comments": false,
  "retainLines": true,
  "env": {
    "test": {
      "plugins": [
        ["istanbul"],
        [
          "transform-runtime",
          {
            "helpers": false,
            "polyfill": false,
            "regenerator": true
          }
        ]
      ],
      "presets": [
        ["env", {
          "targets": {
            "node": 7
          }
        }], "stage-0"
      ]
    },
    "buildscript": {
      "plugins": [
        ["transform-promise-to-bluebird"],
        [
          "transform-runtime",
          {
            "helpers": false,
            "polyfill": false,
            "regenerator": true
          }
        ],
        ["syntax-dynamic-import"]
      ],
      "presets": [
        ["env", {
          "targets": {
            "node": 7
          }
        }], "stage-0"
      ]
    },
    "main": {
      "plugins": [
        ["transform-promise-to-bluebird"],
        [
          "transform-runtime",
          {
            "helpers": false,
            "polyfill": false,
            "regenerator": true
          }
        ],
        ["syntax-dynamic-import"]
      ],
      "presets": [
        ["env", {
          "targets": {
            "node": 7
          }
        }], "stage-0"
      ]
    },
    "renderer": {
      "plugins": [
        ["babel-plugin-transform-class-properties"],
        ["babel-plugin-syntax-flow"],
        ["babel-plugin-transform-flow-strip-types"],
        ["transform-promise-to-bluebird"],
        [
          "transform-runtime",
          {
            "helpers": false,
            "polyfill": false,
            "regenerator": true
          }
        ],
        ["syntax-dynamic-import"]
      ],
      "presets": [
        ["env", {
          "modules": false
        }], "stage-0", "es2015"
      ]
    },
    "web": {
      "plugins": [
        ["transform-promise-to-bluebird"],
        [
          "transform-runtime",
          {
            "helpers": false,
            "polyfill": false,
            "regenerator": true
          }
        ],
        ["syntax-dynamic-import"]
      ],
      "presets": [
        ["env", {
          "modules": false
        }], "stage-0"
      ]
    }
  }
}
