<div :class="classes" role="tree" onselectstart="return false">
  <ul :class="containerClasses" role="group">
      <tree-item v-for="(child, index) in data"
                 :key="index"
                 :data="child"
                 :text-field-name="textFieldName"
                 :value-field-name="valueFieldName"
                 :children-field-name="childrenFieldName"
                 :item-events="itemEvents"
                 :whole-row="wholeRow"
                 :show-checkbox="showCheckbox"
                 :allow-transition="allowTransition"
                 :height="sizeHeight"
                 :parent-item="data"
                 :draggable="draggable"
                 :drag-over-background-color="dragOverBackgroundColor"
                 :on-item-click="onItemClick"
                 :on-item-toggle="onItemToggle"
                 :on-item-drag-start="onItemDragStart"
                 :on-item-drag-end="onItemDragEnd"
                 :on-item-drop="onItemDrop"
                 :klass="index === data.length-1?'tree-last':''">
          <template slot-scope="_">
              <slot :vm="_.vm" :model="_.model">
                  <i :class="_.vm.themeIconClasses" role="presentation" v-if="!_.model.loading"></i>
                  <span v-html="_.model[textFieldName]"></span>
              </slot>
          </template>
      </tree-item>
  </ul>
</div>
